@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.right img{
    width: 100%;
}

.container{
    width: 1170px;
    max-width: 81rem;
    margin: 0 auto;
    background-color: "";
}
.container img{
  width: 70%;
  margin-left: 30%;
}
.top-wrapper{
    background-color: white;
    width: 90%;
    padding: 180px 50px;
}

.top-wrapper h1{
    font-size: 48px;
    line-height: 1;
    color: #090e34;
}

.top-wrapper p{
    font-size: 18px;
    line-height: 1.5;
    color: #959CB1;
    padding: 30px 80px 30px 0;
}

.btn-wrapper{
    margin: 20px 0;
}

.btn{
    display: inline-block;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    padding: 16px 32px;
}

.btn:hover{
    opacity: 1;
}

.top-wrapper .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.start{
    background-color: #4a6fc7;
    margin-right: 20px;
}

.more{
    background-color: #959CB1;
}

.tailwind{
    width: 100%;
    margin-left: 30px;
}

/* main feauture*/

body {
  margin: 0;
  font-family: "sans-serif";
}

.container-satu {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  height: 700px;
  padding-bottom: 80px;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #5f5d60;
}
.heading h1 {
  font-size: 40px;
}
.heading h2 {
  font-weight: normal;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
}

.lesson {
  width: 33%;
  float: left;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  padding-top: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 15px;
  color: #5f5d60;
}
 
/*kontak */


textarea {
  resize: none;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}

a {
  text-decoration: inherit;
}

.section {
  padding: 5rem 0rem;
}

.container-tiga {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.main {
  max-width: 1000px;
  width: 100%;
  background-color: rgba(74, 108, 247, 0.1);
  padding: 55px;
  margin-bottom: 2rem;
}

.textform {
  margin-bottom: 3rem;
}

.textform .title1 {
  font-size: 1.875rem;
  font-weight: 700;
}

.textform .title2 {
  font-size: 1rem;
  font-weight: 500;
}

.containerform {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem -16px;
}

.a23 {
  margin-bottom: 2rem;
}

.ae {
  width: 50%;
  padding: 0rem 1rem;
}

.a7 {
  width: 100%;
}

.input {
  box-shadow: 0px 2px 3px rgba(7, 7, 77, 0.05);
  width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-color: transparent;
  border-width: 1px;
  border-radius: 0.375rem;
  margin-top: 0.75rem;
}

.btn {
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  text-align: center;
  outline: none;
  border: none;
}

.submit {
  background-color: rgba(74, 108, 247, 1);
}

.second {
  width: 33.333333%;
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding: 2.75rem;
}

.textsecond h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.textsecond p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  padding-bottom: 2.75rem;
}

.textsecond2 {
  border-bottom: 1px solid;
  border-color: rgba(149, 156, 177, 0.5);
  margin-bottom: 2.75rem;
}

.textsecond3 {
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  color: rgba(149, 156, 177, 1);
}

.main2 {
  max-width: 1000px;
  width: 30%;
  background-color: rgba(74, 108, 247, 0.1);
  padding: 55px;
  margin-bottom: 2rem;
}
.submit2 {
  background-color: rgba(74, 108, 247, 1);
  margin: 20px 0px;
}

.footer {
    
  background-color: rgba(74,108,247, 0.8);
  color: #090e34;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float:center;
  font-size: 40px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 10px;
}



/* nav bar*/

nav{
  display: flex;
  
  justify-content: space-around;
  /*padding: 20px 0; */
  color:white;
  letter-spacing: 3px;
  height: 50px;
  align-items: center;
}


nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #090e34;
  text-decoration: none;
}

/*hamburger menu */

.menu-toggle{
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  display: none;
}

.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  
}

.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #090e34;
  border-radius: 3px;
  transition: all 0.5s;
}

/*hamburber menu animation sibling*/

.menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
  opacity: 0;
  transform: scale(0)
}

/*responsive breakpoint 
/* ukuran tablet*/

@media screen and (max-width:768px){
  nav ul {
      width: 50%;
  }
  .container img{
    display: none;
  }
  .container-satu{
    margin: 10px 10px 10px 10px;
  }
  .heading h1 {
    font-size: 20px;
    text-align: left;
  }
  .heading h2{
    font-size:15px;
    text-align: left;
  }
  .heading h2{
    padding: 0%;
  }
  .lesson-icon p{
    margin-bottom: 100px;
  }

/*kontak*/
.container-tiga{
  display: block;
  margin-top: 500px;
}
.textform .title1{
  font-size: 20px;
}
.textsecond h3{
  font-size: 15px;
}
.container-tiga{
  display: block;
}
.main2 {
max-width: 1000px;
width: 100%;
background-color: rgba(74, 108, 247, 0.1);
padding: 55px;
margin-bottom: 2rem;
}
}

@media screen and (max-width:576px){
  .menu-toggle{
      display: flex;
  }
  
  nav ul {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      justify-content: space-evenly;
      background-color: #090e34;
      align-items: center;
      flex-direction: column;
      z-index: -1;
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
  }
  nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    
  }
  .container{
    width:200%;
  }
  .container img{
    display: none;
  }

  .top-wrapper h1{
    font-size: 20px;
  }
  .top-wrapper p {
    font-size:15px
  }
  .container-satu{
    margin: 10px 10px 10px 10px;
  }
  .heading h1 {
    font-size: 20px;
    text-align: left;
  }
  .heading h2{
    font-size:15px;
    text-align: left;
  }
  .heading h2{
    padding: 0%;
  }
  .lesson-icon p{
    margin-bottom: 100px;
  }
  /*kontak*/
  .textform .title1{
    font-size: 20px;
  }
  .textsecond h3{
    font-size: 15px;
  }
  .container-tiga{
    display: block;
  }
  .main2 {
  max-width: 1000px;
  width: 100%;
  background-color: rgba(74, 108, 247, 0.1);
  padding: 55px;
  margin-bottom: 2rem;
}
  
}
